spring:
  threads:
    virtual:
      enabled: true
  batch:
    jdbc:
      initialize-schema: always
    job:
      enabled: false
  application:
    name: registrar
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://localhost:5432/events_db}
    username: ${SPRING_DATASOURCE_USERNAME:postgres}
    password: ${SPRING_DATASOURCE_PASSWORD:1234}
  jpa:
    hibernate:
      ddl-auto: create-drop
  kafka:
    bootstrap-servers: kafka:9092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
    consumer:
      group-id: registrar-group
      auto-offset-reset: earliest
      properties:
        spring.json.trusted.packages: "*"
  logging:
    level:
      org.springframework.kafka: DEBUG
      org.apache.kafka: INFO

server:
  port: ${SERVER_PORT:8082}

management:
  endpoints:
    web:
      exposure:
        include: "health,info,prometheus"